<div class="card-test-collapse">
	<div><%= image_tag "cancel.svg", class: "menu-close-toggler" %></div>
  	<div><%= link_to   new_parking_spot_path do  %><%= image_tag "settings.svg", class: "menu-open-settings" %><% end %></div>
	<div class="dashboard-container">
	  <div class="intro-dashboard">

	    <% if current_user.photo.attached? %>
	    	<%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-bordered" %>
	    <% end %>
	    <h2 class="first-name-user-dashboard"><%= " #{current_user.first_name}"" " "#{current_user.last_name}" %></h2>
	    <p class="email-user-dashboard"><%= current_user.email %></p>
	    <p><%= current_user.username %></p>
	  </div>
	  <div class="home-dashboard">
	  	<div class="home-dashboard-top">
	    	<p><strong>Home</strong></p>
	    	<%= current_user.address %>
	    </div>
	    <i class="fas fa-pencil-alt"></i>
	    <hr>
	    <div class="home-dashboard-bottom">
	    	<%= link_to  edit_user_registration_path do %><p>Modify personal details</p>
	    </div>
	    <i class="fas fa-long-arrow-alt-right"></i><% end %>
	  </div>
	  <div class="favorites-dashboard">
		<strong>Favourites</strong>
	  </div>
	  <div class="add-favorites-dashboard"><i class="fas fa-plus"></i><%= link_to "Add a Favourite", new_favourite_path, class:"btn btn-favourite" %>
	  </div>

	  <div class="navigation">
	  	<div class="wrapper">
        	<%= render 'shared/index'%>
		</div>
	    <%= link_to "Log out", destroy_user_session_path, class:"btn btn-logout", :method => :delete, id:"btn-logout-dashboard" %>
	  </div>

	  <!-- <div class="logout-dashboard"> -->
	  <!-- </div> -->
	</div>

	 <%# link to current_user.address , vers index + parametre pour current localisation %>
</div>
<div class="menu-overlay"></div>
