<!DOCTYPE html>
<html>
  <head>
    <title>ParkEasy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <% if controller_name == 'parking_spots' %>
      <div class="btn-menu" data-toggle="collapse" data-target="#collapseExample"><i class="fas fa-bars"></i></div>
    <% end %>

    <div class="collapse" id="collapseExample">
      <div class="card-test-collapse">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        <div class="btn-menu" data-toggle="collapse" data-target="#collapseExample"><i class="fas fa-times"></i></div>
      </div>
    </div>

    <%#= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
